@{
    ViewData["Title"] = "Privacy Policy";
}

<div id="privacy"></div>

<script src="~/dist/privacy.bundle.js"></script>
<script src="~/dist/vendors-node_modules_material-ui_core_esm_index_js.bundle.js"></script>
<script src="~/dist/vendors-node_modules_react-dom_index_js.bundle.js"></script>